<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/inicio">
      <img src="../../../../../assets/icon.png" 
           alt="Logo de la organización" 
           class="d-inline-block align-top"
           height="80" 
           width="80">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="estaLogueado">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link hover-effect" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-effect" routerLink="/registrar-agendas" routerLinkActive="active">Crear agendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-effect" routerLink="/recorrido-agenda" routerLinkActive="active">Seguimiento</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hover-effect" routerLink="/baucher" routerLinkActive="active">Vouchers</a>
        </li>
            <button type="button" class="btn" (click)="cerrarSesion()">Cerrar sesión <i class="fa-solid fa-right-to-bracket"></i></button>
      </ul>
    </div>
  </div>
</nav>